                                                    #Introducción
#La finalidad de este trabajo realizado con Jupyter fue la limpieza y tranformación de datos de archivos de Excel, la idea 
#es filtrar, ordener, limpiar y obtener los datos relevantes necesarios, todo esto haciendo un correcto análisis, una correcta 
#limpieza y mantenimiento a dichos datos archivos que cuentan con diversos tipos de datos relacionados a los cereales.

#Paso 1: El primer paso que se realizó fue importar pandas y leer el archivo que previamente nos habían proporcionado 
#"cereal.csv".

In [1]:
from pandas import read_csv, DataFrame, merge, concat

#Paso 2: Posterior a eso creamos un DataFrame al que se le asignan los primeros 20 registros de cereales.

In [2]:
#Punto 1
cereal = read_csv('cereals.csv')

scereal = DataFrame(cereal, 
                    index = range(20), 
                    columns = ['Name', 'Manuf', 'Type', 'Calories', 'Protein', 'Sodium', 'Potass', 'Vitamins' ])
scereal

,Name,Manuf,Type,Calories,Protein,Sodium,Potass,Vitamins
0,100%_Bran,N,C,70,4,130,280.0,25
1,100%_Natural_Bran,Q,C,120,3,15,135.0,0
2,All-Bran,K,C,70,4,260,320.0,25
3,All-Bran_with_Extra_Fiber,K,C,50,4,140,330.0,25
4,Almond_Delight,R,C,110,2,200,NaN,25
5,Apple_Cinnamon_Cheerios,G,C,110,2,180,70.0,25
6,Apple_Jacks,K,C,110,2,125,30.0,25
7,Basic_4,G,C,130,3,210,100.0,25
8,Bran_Chex,R,C,90,2,200,125.0,25
9,Bran_Flakes,P,C,90,3,210,190.0,25
10,Cap'n'Crunch,Q,C,120,1,220,35.0,25
11,Cheerios,G,C,110,6,290,105.0,25
12,Cinnamon_Toast_Crunch,G,C,120,1,210,45.0,25
13,Clusters,G,C,110,3,140,105.0,25
14,Cocoa_Puffs,G,C,110,1,180,55.0,25
15,Corn_Chex,R,C,110,2,280,25.0,25
16,Corn_Flakes,K,C,100,2,290,35.0,25
17,Corn_Pops,K,C,110,1,90,20.0,25
18,Count_Chocula,G,C,110,1,180,65.0,25
19,Cracklin'_Oat_Bran,K,C,110,3,140,160.0,25

#Paso 3: Con la funciones "mean" obtenemos la media, "std" la desviación estandar y "sqrt" la raíz cuadrada del Sodio y el 
#Calcio que contienen los cereales.

In [3]:
#Punto 2
import numpy as np


df1 = DataFrame(round(scereal[['Calories', 'Sodium']].aggregate([np.mean, np.std]),2)).T

#df2 = DataFrame(round(np.sqrt((scereal[['Calories', 'Sodium']].apply(sum))), 2), columns = ["sqrt"])
#df1.merge(df2, left_index=True, right_index=True)

df1['sqrt'] = DataFrame(round(np.sqrt((scereal[['Calories', 'Sodium']].apply(sum))), 2), columns = ["sqrt"])
df1

           mean    std   sqrt
Calories  103.0  19.76  45.39
Sodium    184.5  69.19  60.75

#Paso 4: Con la función "replace" sustituimos los valores por la media de Sodio.

In [4]:
# Punto 3
cereal.replace(0, round(cereal['Sodium'].mean(), 2))

,Name,Manuf,Type,Calories,Protein,Fat,Sodium,Fiber,Carbo,Sugars,...,Weight,Cups,Rating,Cold,Nabisco,Quaker,Kelloggs,GeneralMills,Ralston,AHFP
0,100%_Bran,N,C,70,4,1.00,130.0,10.00,5.0,6.00,...,1.0,0.33,68.402973,1.0,1.00,159.68,159.68,159.68,159.68,159.68
1,100%_Natural_Bran,Q,C,120,3,5.00,15.0,2.00,8.0,8.00,...,1.0,1.00,33.983679,1.0,159.68,1.00,159.68,159.68,159.68,159.68
2,All-Bran,K,C,70,4,1.00,260.0,9.00,7.0,5.00,...,1.0,0.33,59.425505,1.0,159.68,159.68,1.00,159.68,159.68,159.68
3,All-Bran_with_Extra_Fiber,K,C,50,4,159.68,140.0,14.00,8.0,159.68,...,1.0,0.50,93.704912,1.0,159.68,159.68,1.00,159.68,159.68,159.68
4,Almond_Delight,R,C,110,2,2.00,200.0,1.00,14.0,8.00,...,1.0,0.75,34.384843,1.0,159.68,159.68,159.68,159.68,1.00,159.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1.00,250.0,159.68,21.0,3.00,...,1.0,0.75,39.106174,1.0,159.68,159.68,159.68,1.00,159.68,159.68
73,Trix,G,C,110,1,1.00,140.0,159.68,13.0,12.00,...,1.0,1.00,27.753301,1.0,159.68,159.68,159.68,1.00,159.68,159.68
74,Wheat_Chex,R,C,100,3,1.00,230.0,3.00,17.0,3.00,...,1.0,0.67,49.787445,1.0,159.68,159.68,159.68,159.68,1.00,159.68
75,Wheaties,G,C,100,3,1.00,200.0,3.00,17.0,3.00,...,1.0,1.00,51.592193,1.0,159.68,159.68,159.68,1.00,159.68,159.68
76,Wheaties_Honey_Gold,G,C,110,2,1.00,200.0,1.00,16.0,8.00,...,1.0,0.75,36.187559,1.0,159.68,159.68,159.68,1.00,159.68,159.68

#Paso 5: Utilizamos la función "dropna" para eliminar los valores nulos.

In [5]:
#Punto 4
sncereal =  cereal.dropna()
sncereal

,Name,Manuf,Type,Calories,Protein,Fat,Sodium,Fiber,Carbo,Sugars,...,Weight,Cups,Rating,Cold,Nabisco,Quaker,Kelloggs,GeneralMills,Ralston,AHFP
0,100%_Bran,N,C,70,4,1,130,10.0,5.0,6.0,...,1.0,0.33,68.402973,1,1,0,0,0,0,0
1,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8.0,...,1.0,1.00,33.983679,1,0,1,0,0,0,0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,...,1.0,0.33,59.425505,1,0,0,1,0,0,0
3,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0.0,...,1.0,0.50,93.704912,1,0,0,1,0,0,0
5,Apple_Cinnamon_Cheerios,G,C,110,2,2,180,1.5,10.5,10.0,...,1.0,0.75,29.509541,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3.0,...,1.0,0.75,39.106174,1,0,0,0,1,0,0
73,Trix,G,C,110,1,1,140,0.0,13.0,12.0,...,1.0,1.00,27.753301,1,0,0,0,1,0,0
74,Wheat_Chex,R,C,100,3,1,230,3.0,17.0,3.0,...,1.0,0.67,49.787445,1,0,0,0,0,1,0
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3.0,...,1.0,1.00,51.592193,1,0,0,0,1,0,0
76,Wheaties_Honey_Gold,G,C,110,2,1,200,1.0,16.0,8.0,...,1.0,0.75,36.187559,1,0,0,0,1,0,0

#Paso 6: Con la función "describe" obtenemos la media, la desviación estándar, los datos mínimos, los datos máximos, etc.

In [6]:
#Punto 5

sncereal.describe()

,Calories,Protein,Fat,Sodium,Fiber,Carbo,Sugars,Potass,Vitamins,Shelf,Weight,Cups,Rating,Cold,Nabisco,Quaker,Kelloggs,GeneralMills,Ralston,AHFP
count,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000
mean,107.027027,2.513514,1.000000,162.364865,2.175676,14.729730,7.108108,98.513514,29.054054,2.216216,1.030811,0.821622,42.371787,0.986486,0.067568,0.094595,0.310811,0.297297,0.094595,0.013514
std,19.843893,1.075802,1.006826,82.769787,2.423391,3.891675,4.359111,70.878681,22.294352,0.832067,0.153416,0.235715,14.033712,0.116248,0.252716,0.294652,0.465985,0.460188,0.294652,0.116248
min,50.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,15.000000,0.000000,1.000000,0.500000,0.250000,18.042851,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,100.000000,2.000000,0.000000,135.000000,0.250000,12.000000,3.000000,41.250000,25.000000,1.250000,1.000000,0.670000,32.449210,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,110.000000,2.500000,1.000000,180.000000,2.000000,14.500000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.253086,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,110.000000,3.000000,1.000000,217.500000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.520611,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#Paso 7: Posterior a eso en el siguiente paso hacemos uso del operador lógico "or" | y filtramos los datos que en Manuf 
#contengan una K o en Potass sean mayores o iguales a 150.

In [7]:
#Punto 6

cereal.loc[(cereal['Manuf'].str.contains("K")) & (cereal['Potass'] >= 150)]

,Name,Manuf,Type,Calories,Protein,Fat,Sodium,Fiber,Carbo,Sugars,...,Weight,Cups,Rating,Cold,Nabisco,Quaker,Kelloggs,GeneralMills,Ralston,AHFP
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,...,1.00,0.33,59.425505,1,0,0,1,0,0,0
3,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0.0,...,1.00,0.50,93.704912,1,0,0,1,0,0,0
19,Cracklin'_Oat_Bran,K,C,110,3,3,140,4.0,10.0,7.0,...,1.00,0.50,40.448772,1,0,0,1,0,0,0
28,Fruitful_Bran,K,C,120,3,0,240,5.0,14.0,12.0,...,1.33,0.67,41.015492,1,0,0,1,0,0,0
46,Mueslix_Crispy_Blend,K,C,160,3,2,150,3.0,17.0,13.0,...,1.50,0.67,30.313351,1,0,0,1,0,0,0
58,Raisin_Bran,K,C,120,3,1,210,5.0,14.0,12.0,...,1.33,0.75,39.259197,1,0,0,1,0,0,0

#Paso 8: Con la función "groupby" sumamos los campos de Calories y los ordenanamos con "ascending = False"Falseo que hará que 
#los datos se ordenen de forma descendente.

In [8]:
#Punto 7
DataFrame(scereal.groupby(['Name', 'Type'],as_index=True)['Calories'].sum()).sort_values('Calories', ascending = False)

                                 Calories
Name                       Type
Basic_4                    C          130
Cap'n'Crunch               C          120
100%_Natural_Bran          C          120
Cinnamon_Toast_Crunch      C          120
Count_Chocula              C          110
Corn_Pops                  C          110
Corn_Chex                  C          110
Cocoa_Puffs                C          110
Clusters                   C          110
Cheerios                   C          110
Cracklin'_Oat_Bran         C          110
Apple_Jacks                C          110
Apple_Cinnamon_Cheerios    C          110
Almond_Delight             C          110
Corn_Flakes                C          100
Bran_Flakes                C           90
Bran_Chex                  C           90
All-Bran                   C           70
100%_Bran                  C           70
All-Bran_with_Extra_Fiber  C           50

#Paso 9: Con las funciones que previamente ya habíamos utilizado "mean", "std" y "sqrt" sacamos la media, la desviación estandar 
#y la raíz cuadrada de los campos de tipo cuantitativo del DataFrame "scereal".

In [9]:
#Punto 8
sqrts = DataFrame(round(np.sqrt((scereal[['Calories', 'Protein', 'Sodium', 'Potass', 'Vitamins']].apply(sum))), 2), columns = ["sqrt"])
mean_n_std = scereal.apply(['mean', 'std']).T
mean_n_std.merge(sqrts, left_index=True, right_index=True)

                mean        std   sqrt
Calories  103.000000  19.761739  45.39
Protein     2.500000   1.317893   7.07
Sodium    184.500000  69.185106  60.75
Potass    117.368421  98.352659    NaN
Vitamins   23.750000   5.590170  21.79

#Paso 10: Posterior a eso unificamos los archivos en un mismo DataFrame que llamamos "supercereal".

In [10]:
#Punto 9
#supercereal = merge(cereal, read_csv('cereals2.csv'), left_on="Name", right_on="Name")
#supercereal

supercereal = concat([cereal, read_csv('cereals2.csv')])
supercereal

,Name,Manuf,Type,Calories,Protein,Fat,Sodium,Fiber,Carbo,Sugars,...,Weight,Cups,Rating,Cold,Nabisco,Quaker,Kelloggs,GeneralMills,Ralston,AHFP
0,100%_Bran,N,C,70,4,1,130,10.0,5.0,6.0,...,1.0,0.33,68.402973,1,1,0,0,0,0,0
1,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8.0,...,1.0,1.00,33.983679,1,0,1,0,0,0,0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,...,1.0,0.33,59.425505,1,0,0,1,0,0,0
3,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0.0,...,1.0,0.50,93.704912,1,0,0,1,0,0,0
4,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8.0,...,1.0,0.75,34.384843,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,Puffed_Wheat,Q,C,50,2,0,0,1.0,10.0,0.0,...,0.5,1.00,63.005645,1,0,1,0,0,0,0
21,Quaker_Oat_Squares,Q,C,100,4,1,135,2.0,14.0,6.0,...,1.0,0.50,49.511874,1,0,1,0,0,0,0
22,Quaker_Oatmeal,Q,H,100,5,2,0,2.7,NaN,NaN,...,1.0,0.67,50.828392,0,0,1,0,0,0,0
23,Rice_Chex,R,C,110,1,0,240,0.0,23.0,2.0,...,1.0,1.13,41.998933,1,0,0,0,0,1,0
24,Wheat_Chex,R,C,100,3,1,230,3.0,17.0,3.0,...,1.0,0.67,49.787445,1,0,0,0,0,1,0

#Paso 11: Y para finalizar de igual forma que en el paso 9 con la funciones que previamente ya habiamos utilizado "mean", "std"
#y "sqrt" sacamos la media, la desviación estándar y la raíz cuadrada de los datos cuantitativos del DataFrame supercereal.

In [11]:
#Punto 10
sqrts2 = DataFrame(round(np.sqrt((supercereal[['Calories', 'Protein', 'Sodium', 'Potass', 'Vitamins']].apply(sum))), 2), columns = ["sqrt"])
mean_n_std2 = supercereal.apply(['mean', 'std']).T
mean_n_std2.merge(sqrts2, left_index=True, right_index=True)

                mean        std    sqrt
Calories  106.764706  20.155915  104.36
Protein     2.539216   1.105088   16.09
Sodium    156.225490  83.168790  126.23
Potass     98.333333  68.823940     NaN
Vitamins   26.470588  20.155193   51.96

                                                     #Conclusión#
#Como conclusión consideramos que fue una práctica bastante funcional para poder practicar para el exámen asi como también
#pudimos implementar lo que hemos aprendido a lo largo del parcial y de igual forma pudimos adentrarnos un poco más al mundo de
#Jupyter el cual consideramos que es una herramienta sumamente amigable para manejar ya que es muy intuitiva y muy sencilla de 
#manipular.