In [1]:
import pandas as pd
import pymysql as pymsql

In [2]:
from pandas import read_sql_query
from pymysql import connect

In [3]:
#Conexion por driver MSSQL a servidor de datos
try:
    cdn = connect(host='localhost', user='root', password='daniel11', database='pokemon')
except:
    print("No puedo conectarme a la BD, verifica por favor")

In [4]:
SQLV1 = 'select * from vw_pokemon_info'

#SQLV1 = """ SELECT p.id, p.pokemon_name as 'name', pr.region, pt.type  FROM pokemons p
#            INNER JOIN pokemons_region pr ON pr.id = p.id_region
 #           INNER JOIN pokemon_types pt ON pt.id = p.id_types;
  #      """

Demo = read_sql_query(SQLV1, cdn)

In [5]:
Demo

   id        name  region          type
0   1     pikachu   Kanto  Electricidad
1   2  charmander   Kanto         Fuego
2   3      piplup  Sinnoh          Agua
3   4    rayquaza   Johto        Dragon

In [8]:
cur = cdn.cursor()
try:
    cur.execute("TRUNCATE TABLE pokemons_info;")
    cdn.commit()
except:
    print("No puedo ejecutar la consulta")
cur.close()

In [9]:
# Enviar datos de DF a Destino 
 
#Importar librerías de SQL Alchemy
from sqlalchemy import create_engine
 
#Conexión como parámetro DWH destino (Servidor Qlik-Dev)
epg = create_engine('mysql+pymysql://root:daniel11@localhost/pokemon')
 
Demo.to_sql('pokemons_info',epg, if_exists='append',index=False, schema="pokemon")