In [1]:
import pymssql as py
import pandas as pd

In [2]:
# Conexión por Pymssql a Servidor SQL Server 
# Verificar que se tienen los Drivers instalados adecuadamente
try:    
     cnd = py.connect(
                        server   = '127.0.0.1', 
                        user     = 'sa', 
                        password = 'Ekroku#2K21',
                        database = 'ebook'
                        )
except:
    print ("No puedo conectarme a la DB, verifica por favor.")

In [3]:
# Leer archivo de SQL 
#SQLV1 = open('C:/rodolfo/00_Personal/ML/SQL_Demo_00.sql','r')

SQLV1 = 'select distinct sd.idlibro,lib.idautor, sd.cantidad from salidas_det sd inner join libros lib on sd.idlibro = lib.idlibro '

# Generar conexión  a Pandas a través de SQL_Query
#Demo = pd.read_sql_query(SQLV1.read(),cnd)

Ft_Salidas = pd.read_sql_query(SQLV1,cnd)

In [4]:
Ft_Salidas

    idlibro  idautor  cantidad
0         1        1         2
1         2        2         1
2         2        2         2
3         3        3         2
4         3        3         5
5         4        8         2
6         4        8         5
7         5       10         3
8         6       10         2
9         7        9         2
10        7        9         3
11        8        4         1
12        8        4         2
13        9        5         2
14        9        5         3
15       10        6         2

In [5]:
# Conexión por Pymssql a Servidor SQL Server 
# Verificar que se tienen los Drivers instalados adecuadamente
try:    
     cnd2 = py.connect(
                        server   = '127.0.0.1', 
                        user     = 'sa', 
                        password = 'Ekroku#2K21',
                        database = 'dwh_ebook'
                        )
except:
    print ("No puedo conectarme a la DB, verifica por favor.")

In [6]:
cur = cnd2.cursor()
try:
    cur.execute("delete from dbo.ft_mov_salidas")
    cnd2.commit()
except:
    print ("No puedo ejecutar la consulta")
cur.close()

In [7]:
# Enviar datos de DF a Destino 

#Importar librerías de SQL Alchemy
from sqlalchemy import create_engine

#Conexión como parámetro DWH destino (Servidor Qlik-Dev)
epg = create_engine('mssql+pymssql://sa:Ekroku#2K21@localhost:1433/dwh_ebook')

In [8]:
Ft_Salidas.to_sql('ft_mov_salidas',epg, if_exists='append',index=False)

In [9]:
Ft_Salidas.to_csv('Ft_Salidas.csv')