In [1]:
from pandas import read_csv, DataFrame, merge, concat, Series, read_json, to_datetime
from pymysql import connect

In [2]:
try:
    # cdn = connect(host='localhost', user='root', password='daniel11', database='dwh_us_airlines')
    cdn = connect(host='143.110.154.121', user='root', password='504203DallMySQLServer', database='dwh_us_airlines')
except:
    print("No puedo conectarme a la BD, verifica por favor")

In [3]:
cur = cdn.cursor()
try:
    cur.execute("call dwh_us_airlines.sp_truncate(); ")
    cdn.commit()
except:
    print("No puedo ejecutar la consulta")
cur.close()

In [4]:
data_departures = read_csv('International_Report_Departures.csv')
data_passengers = read_csv('International_Report_Passengers.csv')
airport_code = read_csv('airports_codes.csv')
airlines_code = read_json('airlines.json')
all_data = concat([data_departures, data_passengers]).dropna()

In [5]:
import numpy as np

dim_local_gateway = all_data[["usg_apt_id", "usg_apt", "usg_wac"]].groupby("usg_apt_id").first().reset_index();
dim_local_gateway = merge(dim_local_gateway, airport_code, how='inner', left_on="usg_apt", right_on="AirportCode").drop(["AirportCode", "WorldAreaCode"], axis = 1);
dim_local_gateway = dim_local_gateway.rename(
    columns = {'usg_apt_id' : 'id_local_airport', 
               'usg_apt' : 'airport_code',
               'usg_wac' : 'world_area_code',
               'CityName' : 'airport_name'})


dim_foreign_gateway = all_data[["fg_apt_id", "fg_apt", "fg_wac"]].groupby("fg_apt_id").first().reset_index();
dim_foreign_gateway =  merge(dim_foreign_gateway, airport_code, how='inner', left_on="fg_apt", right_on="AirportCode").drop(["AirportCode", "WorldAreaCode"], axis = 1);
dim_foreign_gateway = dim_foreign_gateway.rename(
    columns = {'fg_apt_id' : 'id_foreign_airport', 
               'fg_apt' : 'airport_code',
               'fg_wac' : 'world_area_code',
               'CityName' : 'airport_name'})


dim_dates = all_data[['data_dte', 'Year']].groupby("data_dte").first().reset_index().drop("Year", axis = 1);
dim_dates[["month", "day", "year"]] = dim_dates["data_dte"].str.split("/", expand = True)
dim_dates["id_date"] = np.arange(1, len(dim_dates) + 1)
dim_dates = DataFrame(dim_dates, columns = ["id_date", "year", "month", "day", "data_dte"]).rename( 
    columns = {
        "year" : "date_year",
        "month" : "date_month",
        "day" : "date_day",
        "data_dte" : "date_full"
    })


dim_flight_types= DataFrame(all_data[['type']]).rename(columns = {"type" : "flight_type"})
dim_flight_types['id_type'] = np.where(dim_flight_types['flight_type'].str.contains("Departures"), 1, 2)
dim_flight_types = dim_flight_types.groupby("flight_type").first().reset_index()
dim_flight_types = DataFrame(dim_flight_types, columns = ["id_type", "flight_type"])



dim_airline = all_data[["airlineid", "carrier", "carriergroup"]].groupby("airlineid").first().reset_index();
dim_airline = merge(dim_airline, airlines_code, how='inner', left_on="carrier", right_on="code").drop("code", axis = 1)
dim_airline = DataFrame(dim_airline, columns = ["airlineid", "carrier", "name", "carriergroup"]).rename( columns = {
    "airlineid" : "id_airline",
    "carrier" : "carrier_code",
    "carriergroup" : "is_from_us",
    "name" : "carrier_name"
})

In [6]:
airline_facts = all_data[['data_dte', 'usg_apt_id', 'fg_apt_id', 'airlineid', 'type', 'Scheduled', 'Charter', 'Total']]
airline_facts = merge(dim_dates, airline_facts, how='inner', left_on="date_full", right_on="data_dte").drop(["data_dte", "date_full", "date_year", "date_month", "date_day"], axis = 1)
airline_facts = merge(dim_local_gateway, airline_facts, how='inner', left_on="id_local_airport", right_on="usg_apt_id").drop(["airport_code", "world_area_code", "airport_name", "usg_apt_id"], axis = 1)
airline_facts = merge(dim_foreign_gateway, airline_facts, how='inner', left_on="id_foreign_airport", right_on="fg_apt_id").drop(["airport_name", "airport_code", "world_area_code", "fg_apt_id"], axis = 1)
airline_facts = merge(dim_airline, airline_facts, how='inner', left_on="id_airline", right_on="airlineid").drop(["airlineid", "carrier_code", "is_from_us", "carrier_name"], axis = 1)
airline_facts = merge(dim_flight_types, airline_facts, how='inner', left_on="flight_type", right_on="type").drop(["type", "flight_type"], axis = 1)
airline_facts = airline_facts[[
    'id_date', 'id_local_airport', 'id_foreign_airport', 'id_airline', 'id_type', 'Scheduled', 'Charter', 'Total'
    ]].rename( columns = {
    "Scheduled" : "flight_schedule",
    "Charter" : "charter",
    "Total" : "total",
})
airline_facts.sort_values(by=['id_date', 'id_local_airport'])

,id_date,id_local_airport,id_foreign_airport,id_airline,id_type,flight_schedule,charter,total
18484,1,10158,16271,19506,1,0,2,2
408310,1,10158,11731,19952,1,0,2,2
909186,1,10158,16271,19506,2,0,199,199
1239333,1,10158,11731,19952,2,0,65,65
205862,1,10165,12461,19670,1,0,1,1
...,...,...,...,...,...,...,...,...
832638,363,15842,15174,20453,1,2,0,2
580890,363,16091,16078,20166,1,0,1,1
610979,363,16091,16252,20201,1,0,2,2
731187,363,16091,10638,20372,1,0,2,2
824086,363,16091,16078,20447,1,0,5,5

In [7]:
from sqlalchemy import create_engine
# epg = create_engine('mysql+pymysql://root:daniel11@localhost/dwh_us_airlines')
epg = create_engine('mysql+pymysql://root:504203DallMySQLServer@143.110.154.121/dwh_us_airlines')

In [8]:
dim_dates['date_full'] = to_datetime(dim_dates['date_full'])
dim_dates.to_sql('dim_dates',epg, if_exists='append',index=False, schema="dwh_us_airlines")

dim_local_gateway.to_sql('dim_local_gateway',epg, if_exists='append',index=False, schema="dwh_us_airlines")

dim_foreign_gateway.to_sql('dim_foreign_gateway',epg, if_exists='append',index=False, schema="dwh_us_airlines")

dim_airline.to_sql('dim_airline',epg, if_exists='append',index=False, schema="dwh_us_airlines")

dim_flight_types.to_sql('dim_flight_type',epg, if_exists='append',index=False, schema="dwh_us_airlines")

In [9]:
lng = len(airline_facts)
#round(lng/30000)
#airline_facts.index[[0,30000]]

for num in range(round(lng/30000)):
    airline_facts.head(30000).to_sql('us_flights_facts',epg, if_exists='append',index=False, schema="dwh_us_airlines")
    airline_facts.drop(airline_facts.index[0:30000],0,inplace=True)
    print(num)


#airline_facts.to_sql('us_flights_facts',epg, if_exists='append',index=False, schema="dwh_us_airlines")
#airline_facts.head(30000).to_sql('us_flights_facts',epg, if_exists='append',index=False, schema="dwh_us_airlines")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [10]:
#1545841 rows Ã— 8 columns